.myHeader{
    /* border: 1px solid black; */
    border-radius: 50%;
    background-color: #9EB23B;
    height: 100px;
    position: fixed;
    left: 30px;
    top: 20px;
}
.header{
    color: blueviolet;
    font-family: "Mclaren", cursive;
    padding: 30px 0;
}

/* -------------------------------------------------------------------------- */
/* for mobile screen */
@media only screen and (max-width: 600px) {
    .myHeader{
        border-radius: 50%;
        background-color: #9EB23B;
        height: 80px;
        position: absolute;
        left: 30px;
        top: 20px;
    }
    .header{
        color: blueviolet;
        font-family: "Mclaren", cursive;
        padding: 30px 0;
        font-size: 20px;
    }
    
  }
